html{
  scroll-snap-type: y mandatory;
}

.app{
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: black;
}

.app__top > h1{
  color: white;
  text-align: center;
}


.app__logo{
  height: 12vh;
}